/* STYLING ELEMENTS THAT APPLY TO THE ENTIRE DOCUMENT:*/
/* body, p, h1, h2, h3 for the entire document */
p {
    font-size: 100%;
    font-weight: 100;
}

h1 {
    font-size: 2.5em;
    text-align: center;

}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 800;
}

h3 {
    font-size: 1.5em;
    text-align: left;
    font-weight: 300;
}

body {
    font-family: Didot, serif;
}

/* ======================================================================================== */

/* STYLING THE GRID */

.big-container {
    display: grid; 

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
    gap: 50px;
    height: 100%;
}

#header {
    /* background-color: #C5BBDD;  */
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3; 
}

#left-navigation-bar {
    /* background-color: #DCFFB6;  */
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;

    width: 15vw;
    overflow: scroll;
    height: 100vh;
}

#artwork-detail {
    /* background-color: #75A655;  */
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
    
    height: auto;
    width: 1000px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#favorites {
    /* background-color: #FB7CBD;  */
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ======================================================================================== */

/* STYLING INDIVIDUAL ELEMENTS */

/* styling the div containing the images in #artwork-list, they get created in JS */
#artwork-list div img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

/* styling div #basic-details, which includes #title, #detail-image, and #dept */
#basic-details {
    width: 100%;
    float: left;
}

/* styling div #advance-details */
#advance-details {
    /* width: 50%; */
    float: right;
}


/* hides div #advance-details until it gets added in JS */
#advance-details .hidden {
    visibility: hidden;
}

/* styling #detail-image */
#detail-image {
    width: 500px;
    max-width: 100%;
    height: auto;
}

/* styling the frame around the #detail-image. it comes on only in JS */
.frame {
    border: 5px solid black;
    border-radius: 4px;
    padding: 5% 10%;
    box-shadow: -2px 2px 15px 5px #818080;
    transition: 0.3s;
    margin: auto;
}

/* styling each div inside #favorites */
#favorites div {
    border: solid;
    border-color: black;
    border-radius: 4px;
    padding: 10px;
    box-shadow: -1px 1px 10px 1px #c4c1c1;
    transition: 0.3s;
    margin: 10px;
    float: left;
    text-align: center;
    width: 275px;
    height: auto;
}

/* styling each image inside each div inside #favorites */
#favorites div img {
    height: auto;
    max-height: 300px;
    width: 250px;
}

/* styling the search button */
#artist-search {
    font-family: Didot, serif;
    text-align: center;
}