body {
    font-family: Didot, serif;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 100%;
    font-weight: 100;
}

h1 {
    font-size: 2.5em;
    text-align: center;

}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 800;
}

h3 {
    font-size: 1.5em;
    text-align: left;
    font-weight: 300;
    /* font-style: italic; */
}

#artist-search {
    font-family: Didot, serif;
}
#artwork-detail {
    height: auto;
    width: 1013px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#basic-details {
    width: 60%;
    float: left;
}

#detail-image {
    width: 500px;
    max-width: 100%;
    height: auto;
    /* border: 5px solid black;
    border-radius: 4px;
    padding: 5% 10%;
    box-shadow: -2px 2px 15px 5px #818080;
    margin: auto; */
    display: flex;
}

.frame {
    border: 5px solid black;
    border-radius: 4px;
    padding: 5% 10%;
    box-shadow: -2px 2px 15px 5px #818080;
    margin: auto;
}

#advance-details {
    width: 30%;
    float: right;
}

#basic-details, #advance-details {
    margin: 25px;
    background: white;
}
